@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --fog: #F5F4F0;
    --pine: #2B3B20;
    --sage: #526245;
}

.saiba_mais {
    font-family: inter;
    padding: 2em 3em;
    justify-content: space-between;
    background-color: var(--fog);
}

.sm_container {
    display: flex;

}

.sm_conteudo {
    padding: 2em 0em;
} 

.sm_nome {
    font-size: 1.8em;
    font-weight: 800;
    color: var(--pine);
    padding-bottom: .4em;
}

.sm_loc {
    display: flex;
    align-items: center;
    gap: .5em;
    padding-bottom: 1.5em;
}

.sm_loc_img {
    width: .9em;
}

.sm_loc_texto {
    font-size: 1em;
    font-weight: 500;
}

.sm_p {
    width: 20em;
    font-size: 1em;
    line-height: 1.2em;
    padding-bottom: 2em;
}

.sm_pc {
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
    width: 19em;
}

.sm_pc_item {
    font-size: .9em;
    border: solid .1em var(--sage);
    border-radius: 1em;
    padding: .2em .5em;
    margin-top: 0em;
    margin-bottom: .5em;
}

.sm_avaliacao {
    display: flex;
    justify-content: space-between;
}

.sm_form {
    display: flex;
    align-items: center;
    gap: 1.3em;
}

.sm_campo {
    display: flex;
    flex-direction: column;
    width: 19em;
}

.sm_label {
    padding-bottom: .6em;
    font-size: 1em;
}

.sm_textarea {
    height: 5.5em;
}

.sm_fav {
    display: flex;
    align-items: center;
    gap: .5em;
}

.sm_coracao {
    width: 1.3em;
    cursor: pointer;
}

.sm_fav_p {
    font-size: 1em;
}

.sm_img_gr {
    width: 24em;
    padding-bottom: .6em;
    border-radius: .6em;
}

.comentario_container {
    height: 2.4em;
    display: flex;
    flex-direction: column;
    
}

/* .sm_imgs_peq {
    display: flex;
    gap: 1em;
}

.sm_img_peq {
    border-radius: .6em;
    width: 9em;
} */

.sm_comentarios {
    width: 19em;
    padding-top: 1em;
}

.comentario_submit {
    background-color: var(--pine);
    border: solid .05em var(--pine);
    font-size: .9em;
    color: var(--fog);
    font-weight: 600;
    padding: .55em 1.2em;
    border-radius: 1.5em;
    cursor: pointer;
    text-decoration: none;
    margin-top: .5em;
    &:hover{
        background-color: var(--fog);
        border: solid .05em var(--pine);
        color: var(--pine);
    }
}

.comentario_campo {
    display: flex;
    align-items: center;
    gap: .5em;
    padding: .5em;
    border: solid .01em var(--pine);
    margin-bottom: .5em;
    border-radius: .7em;
}   

.comentario_profile {
    width: 1.9em;
}

.comentario_conteudo {
}

.comentario_nome {
    font-weight: 600;
    font-size: 1em;
    padding-bottom: .2em;
}

.comentario_coment {
    font-size: 1em;
}