@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --fog: #F5F4F0;
  --pine: #2B3B20;
  --sage: #526245;
}

body {
  background-color: var(--fog);
  font-family: inter;
}


.app_main {
  padding: 0em 9em 4em 9em;
}

.app_main_titulo {
  padding: 5em 0em 2.5em 0em;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.app_main_botao {
  font-size: 1.7em;
  font-weight: 600;
  text-decoration: underline var(--pine);
  color: var(--fog);
  background-color: var(--pine);
  border-radius: 2em;
  border: var(--pine) solid .05em;
  padding: .6em 1.5em;
  cursor: pointer;
  /* text-align: center; */
  /* margin: 2em 10em; */
  display: flex;
  justify-content: center;
}

.app_main_botao:hover {
  background-color: var(--fog);
  text-decoration: underline var(--fog);
  color: var(--pine);
  box-shadow: 0 .1em .5em var(--sage);
}

.app_main_barra {
  width: 90%;
  margin: 2.5em;
}

.grid_locais {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2em;
}