@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --fog: #F5F4F0;
    --pine: #2B3B20;
    --sage: #526245;
}

body {
    background-color: var(--fog);
}

.favoritos {
    font-family: inter;
    padding: 2em 9em;
    @media (max-width: 800px) {
        padding: 2em 2em;
        width: 118%;
      }
}

.fav_sec {
    padding-bottom: 3em;
}

.fav_titulo {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: var(--pine);
    padding-bottom: .5em;
    @media (max-width: 800px) {
        font-size: 2.1em;
        font-weight: 800;
      }
}

.fav_barra {
    color: var(--pine);
    width: 40%;
    @media (max-width: 800px) {
        width: 65%;
      }
}