@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --fog: #F5F4F0;
    --pine: #2B3B20;
    --sage: #526245;
    --focus: #52624531;
}

body {
    background-color: var(--fog);
}

.formulario {
    font-family: inter;
    padding: 2em 9em;
    @media (max-width: 800px) {
        padding: 2em 2em;
        width: 118%;
      }
}

.form_titulo {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: var(--pine);
    padding-bottom: .5em;
    @media (max-width: 800px) {
        font-size: 2.1em;
        font-weight: 800;
        line-height: 1.1em;
      }
}

.form_barra {
    color: var(--pine);
    width: 50%;
    @media (max-width: 800px) {
        width: 65%;
      }
}


.campo {
    padding-bottom: 1em;
}

.form_campo_titulo {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    color: var(--pine);
    font-weight: 700;
    padding: 1em 0em .9em 0em;
    @media (max-width: 800px) {
        font-size: 1.7em;
      }
}

.form_campo_botoes {
    display: flex;
    justify-content: center;
    padding: 0em .5em;
    flex-wrap: wrap;
    gap: 2em;
}

.form_campo_botao {
    background-color: var(--fog);
    border: solid .05em var(--fog);
    /* border: none; */
    font-size: 1em;
    color: var(--sage);
    font-weight: 600;
    padding: .7em 1.5em;
    border-radius: 1.5em;
    box-shadow: 0 .1em .5em var(--sage);
    cursor: pointer;
    text-decoration: none;
}

.form_campo_botao:hover {
    border: solid .05em var(--sage);
    color: var(--fog);
    background-color: var(--sage);
}

.cor_click {
    background-color: var(--focus);
    border: solid .05em var(--focus);
    font-size: 1em;
    color: var(--pine);
    font-weight: 600;
    padding: .7em 1.5em;
    border-radius: 1.5em;
    box-shadow: 0 .1em .5em var(--sage);
    cursor: pointer;
    text-decoration: none;
}

.form_botoes {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    gap: 1em;
}

.form_botao[type=submit] {
    background-color: var(--pine);
    border: solid .05em var(--pine);
    font-size: 1em;
    color: var(--fog);
    font-weight: 600;
    padding: .7em 1.5em;
    border-radius: 1.5em;
    box-shadow: 0 .1em .5em var(--sage);
    cursor: pointer;
    text-decoration: none;
    &:hover{
        background-color: var(--fog);
        border: solid .05em var(--fog);
        color: var(--pine);
    }
}

.form_botao[type=reset] {
    background-color: var(--sage);
    border: solid .05em var(--sage);
    font-size: 1em;
    color: var(--fog);
    font-weight: 600;
    padding: .7em 1.5em;
    border-radius: 1.5em;
    box-shadow: 0 .1em .5em var(--sage);
    cursor: pointer;
    text-decoration: none;
    &:hover{
        background-color: var(--fog);
        border: solid .05em var(--fog);
        color: var(--sage);
    }
}